@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navigation .slide-pane__content {
  padding: 0;
}

.form-row {
  padding: 8px 0px;
}

.page-main {
  @apply m-4 p-5 bg-white dark:bg-secondary-light rounded-md
}

.std-margin {
  @apply m-4
}